/*TABLET STYLE*/

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
html, body {
    font-size: 15pt;
}

.button {
    margin-top: 3rem;
}

/*Heading and logo*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    gap: 2em;
    font-size: 0.85rem;
    left:0;
    right:0;
    top:0;
}

menu {
    letter-spacing: 0.10rem;
}

menu > li {
    display: inline-block;
}

#logo {
    margin:0.7em 0;
}

#logo > h1 {
    padding: 0.50rem;
}

#logo > p {
    border: 0;
    padding: 0;
}

#main-navigation a {
    padding: 1rem 0.5rem;
}


/*Intro section*/
#intro {
    padding:20% 0;
}

#welcome-text {
    display: inline-block;
    padding: 5rem 6% 2% 1.5rem;
}

/*feature section*/
.feature-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;
}

#features > h2 {
text-align: right;
}

.feature-text{
    grid-column: -2/1;
    grid-row: -1/2;
}

/*Our offer section*/
#our-offer > h2 {
    text-align: left;
    margin-left: 1rem;
}

.info-offer {
    flex-direction: row;
    align-items: flex-start;
}

.info-offer div {
    padding: 0;
}

.offer-image {
    width: 100%;
    height: 100%;
}


/*CATALOGUE RESPONSIVE STYLE*/
#catalogue > h2 {
    margin-top:5rem;
    display: inline-block;

}

.list-catalogue {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    justify-items: start;
    gap:1rem;
    padding: 0.5rem;
}

/*CONTACT US RESPONSIVE STYLE*/
.form-section {
    background-image: url("../images/signupImage.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}

.contact-form {
    text-align: left;
    width: 50%;
    padding: 1rem;
    display: block;
}

.contact-form > h2 {
    margin-top:4rem;
}

/*FROM 1024px SMALL DESKTOP(LAPTOP) ONWARDS*/
@media screen and (min-width: 1024px) {
    /*LANDING PAGE*/
    header {
        font-size: 0.70rem;
        padding:0 1rem;
    }

    #intro {
        padding:15% 0;
    }

    #features {
        font-size: 1.2rem;
        padding: 3rem;
    }

    .feature-items {
        grid-column-gap: 15%;
        grid-row-gap: 5%;

    }

    .feature-image {
        aspect-ratio: 16/9;
    }

    .feature-text {
        text-align: center;
    }

    #our-offer {
        font-size: 1rem;
    }

    .feature-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0;
        gap:0.5rem;
        padding:10%;
    }

    .feature-text > .button {
        margin: 1rem;
    }
    /*CATALOGUE PAGE*/
    .list-catalogue {
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.2rem;
    }
    .price {
        font-size: 1.35rem;
    }

    /*CONTACT PAGE*/
    .contact-form {
        padding: 2rem 5%;
    }
}

/*FROM LARGE DESKTOP ONWARDS*/
@media screen and (min-width: 1440px) {
    /*LANDING PAGE*/
    #features, #our-offer {
        padding: 3rem 10%;
    }

    /*CATALOGUE PAGE*/
    .list-catalogue {
        grid-template-columns: repeat(4, 1fr);
    }

    /*CONTACT PAGE*/
    .contact-form {
        padding: 2rem 10%;
    }

}

/*FROM XL DESKTOP ONWARDS*/
@media screen and (min-width: 1800px) {
    /*LANDING PAGE*/
    header {
        font-size: 1rem;
    }

    #our-offer {
        font-size: 1.25rem;
    }
    #our-offer > h2 {
        margin-bottom: 2rem;
    }
    /*CONTACT PAGE*/
    .contact-form {
        padding: 4rem 15%;
    }

}


