/*MOBILE STYLE*/
*{
    border: 0;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
html, body{
    font-size: 14pt;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    background-color: #FFF;
    color: #010533;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Playfair Display", serif;
}

a {
    text-decoration: none;
    color: #BCD3DE;
}

a:hover, a:focus, a:active{
    color: #0168A2;
}

#main-navigation .active{
    border-bottom: 0.3em solid #0168A2;
}

.button{
    display: inline-block;
    margin-top: 2.5rem;
    background-color:#0168A2;
    color:#FFF;
    padding: 1rem;
}
.button:hover,
.button:focus,
.button:active{
    color: #FFF;
}

/*Heading and logo*/
header{
    background-color: #FFF;
    font-weight: bold;
}

menu{
    list-style: none;
}

menu > li{
    display:block;
    text-align: center;
}

#logo{
    color:#FFF;
    margin:auto;
    text-align: center;
}

#logo > h1{
    background-color: #010533;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
}
#logo > p{
    display: inline-block;
    color:#20202C;
    border-bottom: 3px solid #BCD3DE;
    padding: 0 0.25em 0.25em;
}

#logo em{
    color: #BCD3DE;
}

#main-navigation a{
    color: #20202C;
    padding: 0.70rem 0.25rem;
    display: inline-block;
}

#main-navigation a:hover{
    color: #BCD3DE;
}

/*Intro section*/

#intro{
    background-image: url("../images/intro.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding:5% 0;
}

#welcome-text{
    padding: 0.50rem;
    background-color: rgba(255,255,255, 0.7);
}

#welcome-text > p{
    margin-top: 1rem;
}

#welcome-text button:hover{
    color: #BCD3DE;
}

#welcome-text > h2{
    font-size: 3rem;
    font-weight: bold;
}

#welcome-text > p{
    font-size: 1.1rem;
}

/*feature section*/
#features{
    background-color:#000034;
    color:#FFF;
    padding: 1.5rem;
}

.feature-items > *{
    margin: 0.80rem 0 1rem 0;
}

#features > h2{
    text-align: center;
    margin-bottom: 1.5rem;
    letter-spacing: 0.10rem;
}

.feature-item figcaption > *{
   margin:0.25rem 0.25rem 0.70rem 0.25rem;
}

.feature-text{
    margin-top: 3rem;
}

.feature-text > h3{
    text-align: center;
    margin-bottom: 0.70rem;
    font-size: 1.5rem;
}

.feature-text > .button{
    display: block;
    margin: 2rem;
    text-align: center;
}

.feature-image{
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}


/*Our offer section*/

#our-offer{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.info-offer{
    margin-top: 1rem;
    display: flex;
    gap:0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-offer div{
    margin:0.70rem;
    text-align: center;
}

.offer-image{
    width: 80%;
    height: 80%;
    aspect-ratio: 4/3;
    object-fit: cover;
    margin-bottom: 1rem;
}

/*Footer section*/

footer{
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.social-networks ul{
    list-style: none;
}

.social-networks li{
    display: inline-block;
}
.social-networks a{
    display: inline-block;
}

.social-networks i{
    font-size: 1.5rem;
    margin: 1rem;
    padding: 2rem;
    color: #010533;
}

footer p {
    color:gray;
    font-size: 0.9rem;
}


