/*MOBILE STYLE*/
*{
    border: 0;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
html, body{
    font-size: 14pt;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Playfair Display", serif;
}

a {
    text-decoration: none;
}

#main-navigation .active{
    border-bottom: 0.3em solid #0168A2;
}

.button{
    display: inline-block;
    font-size: 1rem;
    margin-top: 3rem;
    background-color:#0168A2;
    color:#FFF;
    padding: 4%;
    right:0;
}

/*Heading and logo*/

header{
    background-color: #FFF;
    font-weight: bold;
}

menu{
    list-style: none;
}

menu > li{
    display:block;
}

#logo{
    color:#FFF;
    margin:auto;
    text-align: center;
}

#logo > h1{
    background-color: #010533;
    padding: 0.25rem;
}
#logo p{
    line-height: 1.3em;
    color:#20202C;
}

#logo  em{
    color: #BCD3DE;
    font-style: oblique;
}

#main-navigation a{
    color: #20202C;
    padding: 0.70rem 0.25rem;
    display: inline-block;
}

#main-navigation a:hover{
    color: #BCD3DE;
}

/*Intro section*/

#intro{
    background-image: url("../images/intro.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    padding:5% 0;
}

#welcome-text{
    padding: 0.50rem;
    background-color: rgba(255,255,255, 0.7);
    line-height: 3.5em;
}

#welcome-text > p{
    margin-top: 1rem;
    line-height: 1.2em;
}

#welcome-text button:hover{
    color: #BCD3DE;
}

#welcome-text > h2{
    font-size: 3rem;
    font-weight: bold;
}

#welcome-text > p{
    font-size: 1.1rem;
}


/*feature section*/
#features{
    background-color:#000034;
    color:#FFF;
    padding: 1.5rem;
}

.feature-items > *{
    margin: 0.80rem 0 1rem 0;
}

#features > h1{
    text-align: center;
    margin-bottom: 1.5rem;
    letter-spacing: 0.10rem;
}

.feature-item figcaption h2, p, h4{
   margin:0.25rem 0.25rem 0.70rem 0.25rem;
}

.feature-text{
    margin-top: 3rem;
}

.feature-text > h2{
    text-align: center;
    margin-bottom: 0.70rem;
}

.feature-image{
    width: 100%;
    height: 100%;
}


/*Our offer section*/

#our-offer{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.info-offer{
    margin-top: 1rem;
    display: block;
}

.info-offer div{
    margin:0.70rem;
    text-align: center;
}

.offer-image{
    width: 80%;
    height: 80%;
}

/*Footer section*/

footer{
margin-top: 3rem;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 4%;
    color: #010533;
}

